<main id="desarrollador">
  <h1 class="fade-in">Acerca del Desarrollador</h1>

  <p>
    Esta página fue desarrollada por Gianfranco Caleni, alumno de segundo año de la Universidad Diego Portales en el área de Ingeniería Civil Informática y Telecomunicaciones.
    Si tienes sugerencias o encuentras errores, puedes comunicarte conmigo a través de mi correo
    <a href="mailto:gianfranco.caleni@mail.udp.cl">gianfranco.caleni@mail.udp.cl</a> o en mi
    <a href="https://github.com/16giann" target="_blank">GitHub</a>.
  </p>

  <footer>
    <p>© 2025 Ajedrez En Línea – Todos los derechos reservados</p>
  </footer>
</main>
