<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Historia del Ajedrez</title>
  <link rel="stylesheet" href="/estilos.css" />
</head>

<body>
  <div id="historia">
    <h1 class="fade-in">Historia del Ajedrez</h1>

    <p>
      El ajedrez tiene su origen en la India, más concretamente en el Valle del Indo, y data del siglo VI d.C. Originalmente conocido como Chaturanga, o juego del ejército, se difundió rápidamente por las rutas comerciales, llegó a Persia, y desde allí al Imperio bizantino, extendiéndose posteriormente por toda Asia. La mayoría de los historiadores coinciden en ubicar el origen del ajedrez en la India en el siglo VII. El mundo árabe, adoptó el ajedrez con un entusiasmo sin igual: estudiaron y analizaron en profundidad los mecanismos del juego, escribieron numerosos tratados sobre ajedrez y esarrollaron el sistema de notación algebraica. El juego llegó a Europa entre los años 700 y 900, a través de la conquista de España por el Islam, aunque también lo practicaban los vikingos y los Cruzados que regresaban de Tierra Santa. En las excavaciones de una sepultura vikinga hallada en la costa sur de Bretaña se encontró un juego de ajedrez, y en la región francesa de los Vosgos se descubrieron unas piezas del siglo X, de origen escandinavo, que respondían al modelo árabe tradicional. Durante la edad media España e Italia eran los países donde más se practicaba. Se jugaba de acuerdo con las normas árabes (descritas en diversos tratados de los que fue traductor y adaptador Alfonso X el Sabio), según las cuales la reina y el alfil son piezas relativamente débiles, que sólo pueden avanzar de casilla en casilla. La era moderna del Ajedrez, sin embargo, puede ser ubicada en el siglo XV, donde las piezas obtuvieron la forma que tienen actualmente. El primer analista serio del juego fue el español Ruy López de Segura (Siglo XVI), quien en 1561 describió las reglas que aún se usan. El primer reglamento impreso fue publicado por Francois Philidor con el titulo Analyse du jue des echecs (1749), que fue traducido a muchos lenguajes y ayudo a la difusión del juego. Durante los siglos XVI y XVII el ajedrez experimentó un importante cambio, y la reina se convirtió en la pieza más poderosa, en cuanto a su movimiento se refiere, del tablero. Fue entonces cuando se permitió a los peones avanzar dos casillas en su primer movimiento y se introdujeron la regla conocida como en passant ('al paso'), que permite capturar el peón que sigue su marcha y no come la ficha que se le ha ofrecido por una determinada estrategia, y el revolucionario concepto del enroque. Los jugadores italianos comenzaron a dominar el juego, arrebatándoles la supremacía a los españoles. Los italianos, a su vez, fueron desbancados por los franceses y los ingleses durante los siglo XVIII y XIX cuando el ajedrez, que había sido hasta entonces el juego predilecto de la nobleza y la aristocracia, pasó a los cafés y las universidades. El nivel del juego mejoró entonces de manera notable. Comenzaron a organizarse partidas y torneos con mayor frecuencia, 
      y los jugadores más destacados crearon sus propias escuelas.
    </p>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/O_Rei-enxadrista.jpg/250px-O_Rei-enxadrista.jpg" id="imagen1" />

    <h1>Reglas del Ajedrez</h1>
    <p>
      Una partida de ajedrez se disputa entre dos jugadores; cada uno posee dieciséis piezas, siendo las de un jugador de color claro, llamadas blancas, y las de su oponente de color oscuro, llamadas negras. Las piezas se mueven sobre un tablero de ajedrez cuadrado de 8×8 = 64 escaques 
      o casillas también cuadradas, alternando colores claro y oscuro (32 y 32).
    </p>

    <h2>Elementos del Ajedrez</h2>
    <p>
      Para jugar, es preciso contar con el tablero de ajedrez y las piezas; si bien dos personas que sepan de memoria las posiciones, pueden jugar (a la ciega) simplemente diciendo los movimientos. Además, deben conocerse las reglas del juego. Opcionalmente, puede utilizarse un reloj de ajedrez, 
      que es imprescindible en las competiciones.
    </p>

    <h2>Piezas del Juego</h2>
    <p>
      Para diferenciar un bando de otro, las piezas de un jugador son de color distinto, uno dirige las claras, llamadas "las blancas", y el otro las de color oscuro, llamadas "las negras". Cada jugador dispone de dieciséis trebejos (piezas) de seis tipos distintos, de los cuales cada jugador tiene: ocho peones, dos torres, dos caballos, dos alfiles, una dama y un rey. Cada pieza se mueve en el tablero de forma diferente: El rey se puede mover en cualquier dirección (vertical, horizontal y diagonales) avanzando o retrocediendo una sola casilla (excepto en el enroque, en el cual se mueve dos casillas). La dama, también conocida como reina, se puede mover en cualquier dirección (vertical, horizontal y diagonales) avanzando o retrocediendo en el tablero el número de casillas que se desee, hasta topar con otra pieza o el borde del tablero. El alfil solo se puede mover en dirección diagonal, tantas casillas como se desee. La torre solo se puede mover en las direcciones verticales y horizontales, no en diagonal, las casillas que se desee. El caballo, según la definición oficial, se puede mover a la casilla más cercana que no se encuentre en su propia fila, columna o diagonal, aunque para simplificar se dice que se mueve avanzando dos casillas en vertical y una en horizontal, o viceversa, realizando un movimiento de ‘L’, siendo la única pieza que puede saltar por encima de las demás piezas. El peón, en su primer movimiento puede avanzar una o dos casillas en dirección vertical; después de su por primer movimiento solo puede avanzar una casilla en cada movimiento en dirección vertical. A diferencia del resto de piezas no puede ir hacia atrás y no puede capturar las piezas contrarias que se encuentran en la misma columna en la que se mueve; solo podrá hacerlo si se encuentran a una casilla en diagonal respecto a él (excepto en la captura al paso). Un peón debe transformarse en un alfil, caballo, torre o dama del mismo color, a elección del jugador, si es capaz de alcanzar la última fila del tablero opuesta a la de su bando, por lo que un peón puede adquirir un enorme poder táctico en determinadas 
      posiciones donde no tiene oposición para coronar.
    </p>

    <img src="https://cdnx.jumpseller.com/catron-juegos-y-pasatiempos/image/14050520/resize/1800/1800?1650647327" id="imagen2" />
  </div>
</body>
</html>
