<header>
  <h1 class="fade-in">Ajedrez En línea</h1>
</header>

<main id="index">
  <section class="login">
    <p>¡Donde las mentes chocan! Estrategia, táctica y emoción en cada movimiento. Es una batalla intelectual con un toque de diversión, ¡porque el ajedrez nunca puede ser aburrido!</p>
    <p>Regístrate, revisa tu historial de partidas, tus puntajes, desafía a tus enemigos y mejora tus habilidades para este hermoso juego.</p>
    <h2>Iniciar sesión</h2>

    <form action="/login" method="POST">
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="username" required />

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Ingresar al Sitio</button>
    </form>

    <p style="text-align: center;">
  ¿No tienes cuenta? <a href="/registro">Regístrate aquí</a>
</p>
  </section>

   <div class="imagen-centro">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT19SREX1Gf_EmTWcPIs5zVrj813CHH_UAlbA&s" id="imagen1" />
</div>
</main>
